/* BODY  */
body  {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    /*  font-family: Garamond, Times new roman, Times, serif; */
    /*  font : 14px Garamond, 12px Times new roman, 12px Times, serif;*/
    font-size: 11px;
    margin-top: 2px;
    margin-left:20px;
    margin-right: 10px;
    text-align: justify;
    background: #FFFFFF;
    max-width: 650px;
}

/* Links  */

A:link,A:visited {
                   color: #0D73A7;
                   background: transparent;
                   text-decoration: none;
                   }

A:active {
           color: #ff0000;
           background: transparent;
           text-decoration: none
           }

A:hover {
          text-decoration: underline;
          color: #cc6600;
          }

/* Text  */



h1 {
     font-size:16px;
     text-align: center;
     color: #002266;
     background-color: #F6E6CA;
     border: 1px solid #cc6600;
     margin-left: 0px;
     margin-right: 0px;
     padding-top: 10px;
     padding-bottom: 10px;
     }

h2 {
     /* 	text-align: center; */
     font-size: 14px;
     color: #002266;
     text-align: left;
     margin-left: 0px;
     padding-left: 0px;
     }

h3 {
     /* 	text-align: center; */
     font-size: 11px;
     color: #002266;
     font-weight: bold;
     text-align: left;
     margin-left: 0px;
     }

h4 {
     /* 	text-align: center; */
     font-size: 10px;
     color: #002266;
     font-weight: bold;
     text-align: left;
     margin-left: 0px;
     }


hr {
     border: 0px dotted #2D282E;
     color: #115588;
     background-color: #115588;
     height: 2px;
     }

hr.solid {
           border: 0px dotted #2D282E;
           color: #115588;
           background-color: #115588;
           height: 5px;
           }

pre,tt {
         font-size: 12px;
         background-color: #EEEEEE;
	 text-align: left;
         }

.author {
    text-align: center;
    font-style:italic;
    font-size: 11px;
    color: #000000;
    # color: #002266;
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}


.tips {
       margin-top: 5px;
       margin-bottom: 5px;
       padding-top: 5px;
       padding-bottom: 5px;
       padding-left: 5px;
       padding-right: 5px;
       border: 1px dashed #2f6fab;
       #color: Black;
       background-color: #EEFFEE;
       #color: #330066;
       #margin-right: 20%
}

.comment {
       margin-top: 5px;
       margin-bottom: 5px;
       padding-top: 5px;
       padding-bottom: 5px;
       padding-left: 5px;
       padding-right: 5px;
       border: 1px dashed #2f6fab;
       #color: Black;
       background-color: #FFFFFF;
       #color: #330066;
       #margin-right: 20%
}

.code {
    text-align: left;
    font-family: Courier;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border: 1px dashed #2f6fab;
    background-color: #00FF00;
    color: #0000888;
    #margin-right: 20%
}

.terminal {
    text-align: left;
    font-family: Courier;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border: 1px dashed #2f6fab;
    background-color: #000000;
    color: #FFFFFF;
    #margin-right: 20%
}

.solution {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px dashed #FFFFFF;
    background-color: #EEEEFF;
    color: #0000BB;
    font-size: 11px;
    #margin-right: 20%
}


.exo {
    #font-style:italic;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    #border: 1px solid #9999ff;
    #color: Black;
    background-color: #FFEEEE;
    color: rgb(51, 51,153);
    #margin-right: 30%
}


.tut {
    #font-style:italic;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    #border: 1px solid #9999ff;
    #color: Black;
    background-color: #EEEEEE;
    color: rgb(51, 51,153);
    #margin-right: 30%
}


.answer {
    #font-style:italic;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    #border: 1px solid #9999ff;
    #color: Black;
    background-color: #EEFFEE;
    color: rgb(51, 51,153);
    #margin-right: 30%
}

.attention {
    color: #6B0909;
    /*    font-size: larger;*/
    padding:10px;
    background-color: #FFEEEE;
    border: 2px solid #B40404;
    margin-right: 5%;
    margin-left: 5%;
}  


p.attention {
  padding:10px;
  background-color: #FFEEEE;
  border: 2px solid #B40404;
  margin-right: 5%;
  margin-left: 5%;
}


.tbw {
    font-style:italic;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #9999ff;
    color: Red;
    background-color: #FFFFBB;
}

.protocol {
    font-style:plain;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    #border: 1px solid #9999ff;
    color: #000055;
    background-color: #EEEEFF;
}

/* Concept definitions */
.concept  { 
    color: darkgreen;
    font-style: italic;
    font-weight: bold;
}

/* Figure legend */
.legend { 
    text-align: center;
    font-style: italic;
}
/* software tool, program */
.program { 
    font-style: italic;
    font-weight: bold;
/*    color: darkgreen;*/
}

/* option for a program */
.option { 
    font-style: italic;
    color: darkgreen;
}

/* option for a command */
.command { 
    text-align: left;
    font-family: monaco,courier;
    color: black;
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
}


/* Page header line */
.header { 
  font-style: italic;
  color: #888888;
  text-align: center;
  font-size: 10px;
  }


/* Mathematical formula */
.formula { 
  font-style: italic;
  color: darkviolet;
  text-align: center;
  /*  background-color: #EBEBEB;*/
  }



/* TABLE */

table {
        margin: 0px 0px 0px;
        color: #000000;
        border-left: 1px solid #cbcbb4;
        border-top: 1px solid #cbcbb4;
        border-spacing: 0px;
        }

table th {
           font-size: 11px;
           border-right: 1px solid #cbcbb4;
           border-bottom: 1px solid #cbcbb4;
           padding: 2px 10px;
           color: #DDEEFF;
           background-color: #115588;
           }

table td {
           font-size: 11px;
           border-right: 1px solid #cbcbb4;
           border-bottom: 1px solid #cbcbb4;
           padding: 2px 10px;
           background-color: #DDEEFF;
           }

table.simple  {
  margin: 10px 20px 20px;
  color: #000000;
  }

table.simple td,table.list th  {
  font-size: 70%;
  padding: 2px 10px;
  background-color: #FFFFFF;
  }

table.simple th  {
  font-size: 70%;
  background-color: #F6E6CA;
  }
