<!-- Load c3.css -->
<link href="--c3_css--" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="--datatable_css--"/>

<!-- Load d3.js and c3.js -->
<script type="text/javascript" src="--d3--" charset="utf-8"></script>
<script type="text/javascript" src="--c3--"></script>
<script type="text/javascript" src="--jquery--"></script> 
<script type="text/javascript" src="--datatable--"></script>

<style>
--lines_w--

        #Profile_header{
	   margin: 7px 5px 7px 0px;
	   width: 1280px;
	   height: 275px;
	   text-align: left;
	   color: black;
	   font-size: 16px;
	   border-radius:5px;
           background: #B1D4F9;
	   position: relative;
	   display: block;
	   clear : both;
	   float: left;
        }

  .tab{
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    background-color: #E6E6E6;
    clear: both;
    float: left;
    position: relative;
    border-radius:5px;
    border-top: 0px;
    padding: 15px 15px 3px 15px;
  }

  .tab_col {
    padding: 7px 30px 7px 30px;
    background-color: #B1D4F9 !important;
    text-align: center;
  }

  .small_logo {
	position: relative;
	max-width: 100%;
	max-height: 10%;
	height: 45px;
	width: 60px
	float: left;
	clear: both;
  }


  .logo_tab {
	position: relative;
	height: 45px;
	width: 55px
	float: left;
	clear: both;
  }

  td {
    text-align: center;
  }

  .c3 svg g g.c3-axis.c3-axis-x {
    font: 12px sans-serif;
  }

  .c3 svg g g.c3-axis.c3-axis-y {
    font: 12px sans-serif;
  }

  .div_chart {
	position: relative;
        display: block;
	float: left;
	clear: both;
  //      margin-top:10px;
  }

  .div_chart_sp {
	position: relative;
        display: block;
	float: left;
	clear: both;
        margin-top:10px;
        margin-bottom:10px;
  }

  .spacer {
        margin-top:10px;
        margin-bottom:10px;
  }

  .button_chart {
	position: relative;
        cursor:pointer;
	float: left;
        margin-top:10px;
  }

  .button_click:active {
        position:relative;
        top:1px;
  }

  .Section_button {
  background-color: #D6EEFA;
  float: left;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 200px;
  height: 20px;
  position: relative;
  display: block;
  text-align: center;
  color: #0D73A7;
  font-size: 15px;
  padding: 4px;
  clear: both;
  border-radius:5px;
  cursor: pointer;
  }

  .selected_header_section {
    color : #CC6600;
    background-color: #F6E6CA !important;
    border: 1px solid #F6E6CA;
  }

  #heatmap_png {
	heigth: 650px;
	width: 550px;
  }

 .file_link {
  cursor: pointer;
  text-decoration: none;
  }

  .file_link:hover {
  text-decoration: underline;
  }

.c3-legend-item {
  font-size: 10px;
}

</style>

<div id="summary_table_button" class="button_click Section_button selected_header_section"><strong>Parameters Table</strong></div>
<div id="summary_table" class="tab spacer">
<!-- <h2 style="margin-top: 0px;margin-bottom: 3px;">Results Summary</h2> -->
<table style="width:1270px" id="head_table" >
<thead><tr>
	  <th class="tab_col">Bin size</th>
	  <th class="tab_col">Nb of Bins</th>
	  <th class="tab_col">Nb of sequences</th>
	  <th class="tab_col">Nb of motifs</th>
	  <th class="tab_col">P-val (motif matches)</th>
</tr></thead>
<tbody>
          <td class="par_text">--bin_l-- nt </td>
          <td class="par_text">--bin_nb--</td>
          <td class="par_text">--seq_nb--</td>
          <td class="par_text">--motif_nb--</td>
          <td class="par_text">--p--</td>
</tbody>
</table></div>


<div id="dynamic_profile_button" class="button_click Section_button"><strong>Profiles</strong></div>
<div id="dynamic_profile" style="display:none" class="div_chart">
<div id="Profile_header"> 
   <div><h2 style="text-align:center">Scanning profile</h2></div> 
   <ul> 
      <li type="square">The plot shows the binding profile (the counts of number of matches per bin) of each input PSSM through the input sequences.</li>
      <li type="square">The P-values are calculated using Chi-square test of goodnes of fit, where the Null hypothesis assumes a homogeneous distribution of matches along the sequences.</li> 
      <li type="square">The motifs names are orderer according their significance.</li> 
   </ul> 
   <p>
      <ul> <h3>Dynamic Features</h3> 
         <li type="square">Click on each PSSM name (right side) to display/hide each profile individually.</li> 
         <li type="square">Pointing to each profile displays its <b>Motif name</b>, <b>Motif ID</b>, <b>P-value</b>, <b>Significance</b> and <b>Motif Logo</b>.</li> 
         <li type="square">Click on the buttons to Show/Hide all the profiles.</li> 
         <li type="square">You can filter the displayed profile in basis of their <b>Significance</b> by typing a number in the threshold button.</li> 
      </ul> 
   </p>  

</div> 
   <div  style="display:block; clear:both;position:relative;float:left;">
      <button class='small button_chart' onclick='show_all();'>Show All Profiles</button>
      <button class='small button_chart' onclick='hide_all();'>Hide All Profiles</button>

<button class='small button_chart' onclick='sig_upper_threshold();'><b>Significance</b>: Lower threshold<div><input style="height:20px;margin:5px;" type="number" value='' id="sig_up" /></div></button>

<!-- <button class='small button_chart' onclick='sig_lower_threshold();'>Hide TEST<div id="ccc"><input type="number" id="sig_low" /></div></button> -->

   </div>
   <div id="chart" class="div_chart_sp"></div>
</div>


<div id="individual_motif_button" class="button_click Section_button"><strong>Individual Motif View</strong></div>
--tab--


<div id="heatmap_button" class="button_click Section_button" ><strong>Profiles Heatmap</strong></div>
<div id="heatmap" style="display:none" class="div_chart_sp tab" style="width:1200px;padding:0px 0px 20px 0px;margin-top:0px;display:none;">

  <h2 style="margin:0px">Heatmap View</h2>
  <p> <a target="_blank" href="--heatmap_pdf--">PDF</a></p>
  <a target="_blank" href="--heatmap_pdf--"><img id="heatmap_png" src="--heatmap_png--"></a>
</div>


<div id="additional_files_button" class="button_click Section_button" ><strong>Additional Files</strong></div>
<div id="additional_files" class="tab spacer" style="display:none;">
<table style="width:1270px" id="head_table" >
<thead><tr>
	  <th class="tab_col">File</th>
	  <th class="tab_col">Description</th>
</tr></thead>
<tbody>
   <tr><td class="par_text" style="text-align:left"><a target="_blank" class="file_link" href="--full_motif_table--">Motif table (Full)</a></td><td class="par_text" style="text-align:left">A table with additional information of each motif (i.e. the chi-squared value, degrees of freedom, etc ).</td></tr>
   <tr><td class="par_text" style="text-align:left"><a target="_blank" class="file_link" href="--hit_counts_table--">Hit counts per bin</a></td><td class="par_text" style="text-align:left">A table with the total number of hits of each motif for each bin.</td></tr>
   <tr><td class="par_text" style="text-align:left"><a target="_blank" class="file_link" href="--density_table--">Hit density per bin</a></td><td class="par_text" style="text-align:left">A table with the density of hits of each motif for each bin.</td></tr>
</tbody>
</table></div>


<script>

var chart = c3.generate({
    data: {
        x: 'x',
        columns: [
          --x_y--
        ],
            type: 'line',
        names: {
          --names--
        },
    },

    subchart: {
        show: false
    },

    zoom: {
        enabled: false
    },


    size: {
        height: 500,
        width: 1275
    },

    grid: {
        x: {
            show: false
        },
        y: {
            show: false
        }
    },

    legend: {
        position: 'bottom'
    },

    padding: {
        top: 0,
        right: 100,
        bottom: 15,
        left: 100,
    },

    tooltip: {
        grouped: false, // Default true
        contents: tooltip_contents,
    },

    color: {
        pattern: [--color_pattern--]
    },

    point: {
        show: false
    },

    axis: {
        y: {
            max: --y_axis--,
            min: 0,
            label : {
                    text: 'Density of TFBSs',
                    position: 'outer-middle',
            },

        },

        x: {
            label: {
                    text: 'Distance (bp)',
                    position: 'outer-center',
            },
            tick: {
                    culling: false
            }
        },
    },

});


    var pvalues = new Array();
--pvalues--

    var qvalues = new Array();
--qvalues--

    var pics = new Array();
--pics--

    var IDs = new Array();
--IDs--

    var significances = new Array();
--significances--


function show_all() {
    chart.show([--all--]);
}

function hide_all() {
    chart.hide([--all--]);
}

Array.prototype.difference = function (x) {
    return this.filter(function (i) {
        return !(x.indexOf(i) > -1);
    });
};


function sig_upper_threshold(){

var x = document.getElementById('sig_up').value ||  --sig_min--;

 var index = [--all--];
 var newIndex = new Array();
 
 c = 0;
 for(i = 0; i < index.length; i++){
 
     if(significances[index[i]] < x){
  	
  	newIndex[c] = index[i];
        c++;
     }   
  }


//a.difference(b);

var diff = index.difference(newIndex);
chart.show(diff);
chart.hide(newIndex);
}


function sig_lower_threshold(){

 var x = document.getElementById('sig_low').value

 var index = [--all--];
 var newIndex = new Array();
 
 c = 0;
 for(i = 0; i < index.length; i++){
 
     if(significances[index[i]] <= x){
  	
  	newIndex[c] = index[i];
        c++;
     }   
  }
chart.hide(newIndex);
}



function tooltip_contents(d, defaultTitleFormat, defaultValueFormat, color) {
    var $$ = this, config = $$.config, CLASS = $$.CLASS,
        titleFormat = config.tooltip_format_title || defaultTitleFormat,
        nameFormat = config.tooltip_format_name || function (name) { return name; },
        valueFormat = config.tooltip_format_value || defaultValueFormat,
        text, i, title_name, title_ID, title_p, title_q, title_s, value, name, bgcolor;



    
    // You can access all of data like this:
    console.log($$.data.targets);
    
    for (i = 0; i < d.length; i++) {
        if (! (d[i] && (d[i].value || d[i].value === 0))) { continue; }
        
        if (! text) {
            title_name = 'Motif Name';
	    title_ID = 'Motif ID';
            title_p = 'P-val';
            title_q = 'Q-val';
            title_s = 'Sig';
            title_logo = 'Logo';
            text = "<table class='" + CLASS.tooltip + "'>" + "<tr><th colspan='1'>" + title_name + "</th><th colspan='1'>" + title_ID + "</th><th colspan='1'>" + title_p + "</th><th colspan='1'>" + title_q + "</th><th colspan='1'>" + title_s + "</th><th colspan='1'>" + title_logo + "</th></tr>";
        }

        name = nameFormat(d[i].name);
        value = valueFormat(d[i].value, d[i].ratio, d[i].id, d[i].index);
        bgcolor = $$.levelColor ? $$.levelColor(d[i].value) : color(d[i].id);

        text += "<tr class='" + CLASS.tooltipName + "-" + d[i].id + "'>";
        text += "<td class='name'><span style='background-color:" + bgcolor + "'></span>" + name + "</td>";
        text += "<td>" + IDs[d[i].id] + "</td>";
        text += "<td>" + pvalues[d[i].id] + "</td>";
        text += "<td>" + qvalues[d[i].id] + "</td>";
        text += "<td>" + significances[d[i].id] + "</td>";
        text += "<td><img class='small_logo' src='" + pics[d[i].id] + "' /></td>";
        text += "</tr>";
    }
    return text + "</table>";   
}




</script>

<script charset="utf-8" type="text/javascript">
$(document).ready( function () {
    $('#Motif_tab').DataTable({
        "info":     true,
        "iDisplayLength": 50,
        "order": [[ 1, "asc" ]],
	"search": {
	    "regex": true,
	    "smart": true
	},
	"aoColumnDefs": [
            { "bSortable": true, "aTargets": [ 0,1,2,3,4,5,6,7],
 //             "width": "20%",
            }
	]	
    });
});


// Slide the Individual Motif Table
$(document).ready(function() {
    $('#individual_motif_button').click(function() {
	$('#individual_motif_tab').slideToggle('fast');
        $(this).toggleClass('selected_header_section');
    }); 
});


// Slide the Individual Motif Table
$(document).ready(function() {
    $('#dynamic_profile_button').click(function() {
	$('#dynamic_profile').slideToggle('fast');
        $(this).toggleClass('selected_header_section');
    }); 
});


// Slide the Summary Table
$(document).ready(function() {
    $('#summary_table_button').click(function() {
	$('#summary_table').slideToggle('fast');
        $(this).toggleClass('selected_header_section');
    }); 
});


// Slide the Heatmap
$(document).ready(function() {
    $('#heatmap_button').click(function() {
	$('#heatmap').slideToggle('fast');
        $(this).toggleClass('selected_header_section');
    }); 
});


// Slide the Heatmap
$(document).ready(function() {
    $('#additional_files_button').click(function() {
	$('#additional_files').slideToggle('fast');
        $(this).toggleClass('selected_header_section');
    }); 
});


</script>
